<div class="bg-div">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/Image/Logo.png" width="250" height="40" class="d-inline-block align-top" alt="">
    </a>
<ul class="nav justify-content-center bg-grey">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">OUR MENU</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">DOMINO'S STORE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">GET CARD</a>
  <li class="nav-item">
    <a class="nav-link" href="#">CORPORATE EQUIRY</a>
  <li class="nav-item">
    <a class="nav-link" href="#">CONTACT</a>
  </li>
  <li class="buttons">
    <button class="button" style="vertical-align:middle"><span>DOWNLOAD APP</span></button>
  </li>
</ul>
